body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}



.texto-grande {
   
    font-size: 40px; 
    font-weight: bold;
}

.title {
  
    font-size: 32px; 
    font-weight: bold;    
}

.text {
 font-size: 1.3rem;
}
.clrojo{
    color: #F50A0A;
   
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .select-line {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -2px; /* Slightly below the select element */
  }
  .form-select {
    border: none;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 0;
    flex-grow: 1;
    background-color: transparent; /* Make background transparent */
  }
  .form-select:focus {
    box-shadow: none;
  }
  .input-text {
    
    padding-top: 5px;
    
  }

  .c-num{
    font-weight: bold;
    color: #EE0000;
    font-size: 55px;
    margin: 0;
  }
  .c-title{
    font-size: 24px;
    font-weight: bold;
    color: #5C5C5C;
  }

  .c-li{
    margin-bottom: 10px;
  }
  
  .card{
    min-height: 100%;
  }
  .method{
    font-weight: bold;
  }